h1{
    margin: auto;
    width: 50%;
    padding: 0 6%;
    text-align: center;
    font-size: 120px;
    border-radius: 100px;
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-image: url("../../assets/porcelin.jpg");
    color: rgb(253, 0, 0);
    font-family: "Graduate";
}

.main-container-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    height: auto;
    margin:10vh 0;
}

#contact-form{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    height: auto;
    width: 80%;
    color: white;
    font-family: 'Oxanium'
}

.contact-input-element{
    display: flex;
    flex-direction: column;
    height: 5%;
    width: 80%;
}

.contact-input-element input,
.contact-input-element textarea{
    position: static;
    padding: 20px;
    font-size: 24px;
    font-family: 'Oxanium';
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.54) inset;
    transition: transform 0.2s ease-in-out
}

.contact-input-element input:hover,
.contact-input-element textarea:hover{
    transform: scale(1.03);
}

label{
    font-size: 32px;
}

label strong{
    color: red;
}

#name, #email{
    height: 3h;
}

#message{
    height: 20vh;
    resize: none;
}

.submit-box{
    display:flex;
    justify-content: center;
    align-items: center;;
    width: 100%;
}

#submit{
    margin: 1%;
    margin-left: 10%;
    padding: 1%;
    width: 20%;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    font-family: "Bebas Neue";
    font-size: 32px;
    font-weight: bolder;
    color: white;
    transition: all ease-in-out .2s;
    border: 3px solid darkred;
}

#submit:hover{
    cursor: pointer;
}

#captcha{
   height: 10vh;
   display : flex;
   align-items: center; 
}

#captcha div{
    display: flex;
    justify-content: center;
    max-height: 100%;
}

.error-box, .success-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10vh;
    margin: 4% 0;
    padding: 1%;
    border-radius: 20px;
    font-family: 'Oxanium';
    font-size: 30px;
    background-color: rgb(255, 135, 135);
    color: rgb(144, 0, 0);
    border: solid red 1px;
}

.success-box{
    background-color: rgb(170, 255, 181);
    color: rgb(0, 93, 5);
    border: solid rgb(7, 137, 0) 1px;
}

@media (max-width: 1100px){
    h1 {
        width: 80%;
    }
}
@media (max-width: 705px){
    h1 {
        font-size: 85px;
        width: 85%;
    }

    #contact-form{
        width: 100%;
    }

    label{
        font-size: 26px;
    }
}
@media (max-width: 545px){
    h1 {
        font-size: 85px;
        width: 85%;
    }

    #contact-form{
        width: 100%;
    }

    .submit-box{
        flex-direction: column;
        justify-content: space-around;
        height: 30vh;
    }

    #submit{
        margin-left: 0px;
        width: 50%;
    }

    label{
        font-size: 26px;
    }
}

@media (max-width: 460px){
    h1 {
        font-size: 60px;
    }
}

@media (max-width: 350px){
    h1 {
        font-size: 45px;
    }

    #captcha{
        width: 50%;
        overflow: hidden;
    }
}


