.home-banner{
    position: relative;
    top: -15vh;
    width: 100%;
    height: 80vh;
    background-image: url(../../assets/jumbo-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
}

.home-banner-opacity-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.408);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 1000
}

.home-banner-opacity-layer h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Graduate';
}

.typed-out-container{
    display: inline-block;
}

.typed-out, .typed-out-pause, .typed-out-reverse, .typed-out-pause-empty{
    position: relative;
    box-sizing: border-box;
    width: 0;
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 1.6rem;
    font-family: 'Oxanium';
}

.typed-out{
    animation: typing 1.25s infinite steps(20) forwards;
}

.typed-out-reverse{
    animation: typing 1.25s infinite steps(20) reverse forwards;
}

.typed-out-pause{
    width: 100%;
    animation: blinking 0.5s infinite;
}

.typed-out-pause-empty{
    width: 0;
    animation: blinking 0.5s infinite;
}

@keyframes typing {
    0% { width: 0;}
    100% { width: 100%}
}

@keyframes blinking {
    from{ border-right: none;};
    to{ border-right: .15em solid rgb(255, 255, 255);};
}
