.prof-projects-h1{
    margin-top: 15%;
    margin-bottom: 8%;
    width: 80%;
    font-size: 80px;
    z-index: 1;
}
.prof-projects-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    position: relative;
    top: -15vh;;
    padding: 10% 0%;
    padding-top: 0%;
    width: 100%;
    background-color: rgb(84, 147, 255);
    box-shadow: inset 0px 0px 20px 5px black;
    background-image: url("../../assets/code.PNG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.prof-projects-cont-ol{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.40);
    z-index:0;
}

.prof-project-cont{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/whitebrick.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: auto;
    margin: 4%;
    padding: 1%;
    border-top: 10px solid rgb(57, 57, 57);
    border-bottom: 10px solid rgb(57, 57, 57);
    border-right: 10px solid rgb(114, 114, 114);
    border-left: 10px solid rgb(114, 114, 114);
    text-align: center;
    box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, 0.236);
    font-family: "Oxanium";
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 0px 0px 1px black;
    z-index: 1;
}

.prof-project-cont-ol{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.141);
    z-index: 1;
}

.prof-project-cont a {
    text-decoration: none;
    display: block;
    width: 95%;
    word-wrap: break-word;
    font-size: 22px;
    color: rgb(0, 106, 255);
    font-weight: 10000;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.prof-project-cont a:hover{
    color: rgb(15, 175, 255);
    transform: scale(1.1)
}

.prof-project-cont h2{
    font-family: "Graduate";
    font-size: 32px;
    z-index: 2;
}
.prof-project-cont h3{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-family: "Graduate";
    font-size: 20px;
    z-index: 2;
}

.prof-project-cont ul{
    text-align: left;
    padding-left: 4%;
    z-index: 2;
}

.prof-project-cont li{
    font-size: 20px;
    font-weight: 2000;
    list-style: circle;
}

.prof-project-cont img{
    width: 40%;
    border: solid black 3px;
    border-radius: 20px;
    margin-bottom: 2%;
    z-index: 2;
}

@media (max-width: 1220px){
    .prof-project-cont a {
        font-size: 16px;
        display: block;
        width: 80%;
    }
    .prof-projects-cont li {
        font-size: 16px
    }
    .prof-projects-cont img {
        width: 50%;
    }
}
@media (max-width: 930px){
    .prof-project-cont {
        width:  75%;
        margin-bottom: 10%;
    }

    /* Pers project h1 is in PersonalProjects.css but is easier to implement in media listener here */
    .prof-projects-h1, .pers-projects-h1{
        font-size: 60px;
    }

}
@media (max-width: 654px){

    .prof-projects-h1, .pers-projects-h1{
        font-size: 40px;
        width: 88%;
    }
    .prof-projects-cont{
        margin-bottom: 10%;
    }

    .prof-projects-cont img {
        width: 60%;
    }

}
@media (max-width: 550px){
    .prof-projects-h1{
        margin-bottom: 2%;
    }
    .prof-project-cont h2, .prof-project-cont h3{
        font-size: 20px
    }
}
@media (max-width: 426px){
    .prof-project-cont h2, .prof-project-cont h3{
        font-size: 16px
    }
    .prof-project-cont ul{
        width: 70%;
    }
    .prof-projects-cont img {
        width: 90%;
    }
}
@media (max-width: 325px){
    .prof-projects-h1{
        font-size: 34px;
    }
}