@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');


h1{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 120px;
    border-radius: 100px;
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-image: url("../../assets/porcelin.jpg");
    color: rgb(253, 0, 0);
    font-family: "Graduate";
}
.main-container{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin: 5% 0;
}
.skills-explain{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2%;
    height: 75vh;
    width: 25%;
    background-color: rgb(113, 0, 0);
    border-top: solid rgb(204, 204, 204) 20px;
    border-bottom: solid rgb(204, 204, 204) 20px;
    border-left: solid rgb(255, 255, 255) 20px;
    border-right: solid rgb(255, 255, 255) 20px;
    box-shadow:0px 0px 20px 5px rgb(0, 0, 0) inset;
}

.skills-explain h2{
    width: 100%;
    margin:0;
    margin-bottom: 35px;
    font-family: 'Bebas Neue';
    font-size: 50px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.skills-explain p{
    font-size: 24px;
    font-family: "Oxanium";
    color: white;
    margin: 0;
    padding: 3%;
}

.skills-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2%;
    height: 75vh;
    width: 60%;
    overflow-y: scroll;
    border-top: solid rgb(93, 0, 0) 20px;
    border-bottom: solid rgb(93, 0, 0) 20px;
    border-left: solid rgb(169, 0, 0) 20px;
    border-right: solid rgb(169, 0, 0) 20px;
    background-image: url('../../assets/metal.jpg');
}

.skill-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 340px;
    width: 300px;
    margin: 3%;
    border: solid rgb(0, 0, 0) 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75) inset;
    cursor: pointer;
}

.skill-container h2{
    margin: 10px 0;
    font-weight: 800;
    font-family:'Oxanium', Tahoma, Geneva, Verdana, sans-serif;
}

.image-container{
    display: block;
    height: 250px;
    width: 250px;
}

.image-container img{
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.card-back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/cardback.jpg");
}

.modal-content-box {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items:start;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    padding: 2%;
    margin: auto;
    margin-top: 200px;
    height: 1100px;
    width: 1800px;
    border-radius: 5px;
    border-top:rgb(255, 255, 255) solid 50px;;
    border-right: rgb(202, 202, 202) solid 50px;
    border-left: rgb(202, 202, 202) solid 50px;
    border-bottom: rgb(255, 255, 255) solid 50px;
    background-color: rgb(16, 16, 16);
    font-family: "Oxanium"
}

.x-box{
    margin-left: auto;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.x-one, .x-two{
    position: absolute;
    top:0;
    left: 50%;
    width: 5px;;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.x-one{
    transform: rotate(45deg);
}

.x-two{
    transform: rotate(-45deg);
}

.image-link-cont{
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 500px;
}

.modal-content-box h2{
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
    border-bottom: 3px solid white;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Bebas Neue";
    font-weight: 800;
}

.modal-content-box p {
    box-sizing: border-box;
    margin-top: 0;
    border: solid white 5px;
    padding: 60px;
    padding-top: 30px;
    max-height: 70%;
    width: 40%;
    border-radius: 25px;
    background-color: rgb(57, 57, 57);
    color: white;
    font-size: 30px;
    overflow-y: scroll;
}

.modal-content-box p::-webkit-scrollbar{
    width: 20px;
    padding: 20%;
    border-radius: 25px;
    background-color: rgba(0,0,0,0);
}
.modal-content-box p::-webkit-scrollbar-track{
    margin: 20px;
}

.modal-content-box p::-webkit-scrollbar-thumb {
   margin: 10%;
   border-radius: 1000px;
   background-color: rgb(255, 255, 255);
   border: solid black 3px;
   box-shadow: 0px 0px 6px 1px rgb(0, 0, 0) inset;
}

.modal-content-box img{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.modal-content-box a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    text-align:center;
    word-wrap: break-word;
    font-size: 30px;
}

.modal-content-box a:hover {
    animation-name: change-link-color-forward;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes change-link-color-forward {
    from{
        color: white;
    }
    to{
        color: rgb(0, 123, 255);
    }
}

@media (max-width: 2155px){
    .main-container{
        flex-direction: column;
        align-items: center;
    }
    .skills-explain{
        width: 80%;
        height: 10%;
        margin-bottom: 2%;
    }
    .skills-explain p{
        padding: 1%;
    }
    .skills-explain h2{
        margin: 1%;
    }
    .skills-container {
        width: 80%;
        height: 60vh;
    }
}

@media (max-width: 1450px){
    h1{
        width: 80%;
    }
}

@media (max-width: 1025px){
    .skill-container{
        height: 240px;
        width: 200px;
    }

    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-container h2{
        font-size: 20px;
        width: 80%;
    }
    .skill-container img{
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 900px){
    .main-container{
        margin-top: 0;
    }
    .skills-explain{
        margin: 9% auto;
    }
    .skills-explain p{
       padding: 2%;
    }
    .skills-container{
        height: 80vh;
    }
    .skill-container{
        height: 320px;
        width: 300px;
    }
    .image-container{
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .skill-container img{
        width: 250px;
        height: 250px;
        object-fit: contain;
    }
}

@media (max-width: 600px){
    h1{
        margin-top: 125%;
        font-size: 80px;
    }
    .skills-explain h2{
        font-size: 30px;
    }
    .skills-explain p{
        padding: 4%;
        font-size: 18px!important;
    }
    .skills-container{
        margin: 7% auto;
    }
    .skill-container{
        height: 270px;
        width: 250px;
        margin-bottom: 75px;
    }
    .skill-container img{
        width: 190px;
        height: 190px;
    }
}

@media (max-width: 400px){
    h1{
        font-size: 60px;
    }
    .skills-explain p{
        font-size: 16px!important;
        font-weight: 900;
        padding: 8%;
    }
    .skill-container{
        height: 180px;
        width: 180px;
    }
    .image-container{
        justify-content: start;
    }
    .skill-container h2{
        font-size: 16px;
    }
    .skill-container img{
        width: 100px;
        height: 100px;
    }
}

@media (max-height: 1200px){
    .skills-explain p{
        font-size: 20px;
    }
}
@media (max-height: 930px){
    .skills-explain p{
        font-size: 16px;
    }
    .skills-explain h2{
        font-size: 30px;
    }
}
@media (max-height: 625px){
    .skills-explain{
        overflow-y: scroll
    }
}

@media (max-width: 1900px) or (max-height: 1300px){
    .image-link-cont{
        align-items: center;
    }
    .image-link-cont img{
        height: 400px;
        width: 400px
    }
    .modal-content-box{
        width: 1600px;
        height: 900px;
    }
}
@media (max-width: 1635px) or (max-height: 1200px){
    .image-link-cont{
        align-items: center;
    }
    .image-link-cont img{
        height: 200px;
        width: 200px
    }
    .modal-content-box p{
        max-height: 60%;
        font-size: 20px;
        padding: 20px;
    }
    .modal-content-box{
        margin-top: 200px;
        width: 1300px;
        height: 700px;
    }
}
@media (max-width: 1340px) or (max-height: 900px){
    .image-link-cont{
        width: 40%;
        height: 50%;
    }
    .image-link-cont img{
        height: 150px;
        width: 150px
    }
    .image-link-cont a{
        font-size: 23px
    }
    .modal-content-box p{
        max-height: 50%;
    }
    .modal-content-box{
        width: 1000px;
        height: 600px;
    }
}
@media (max-width: 1039px) or (max-height: 817px){
    .x-box{
        height: 25px;
        width: 25px;
    }
    .x-one,.x-two{
        height: 25px;
    }
    .image-link-cont{
        height: 60%;
    }
    .image-link-cont img{
        height: 75px;
        width: 75px
    }
    .image-link-cont a{
        max-width: 100%;
        font-size: 23px
    }
    .modal-content-box p{
        max-height: 60%;
        padding: 2%;
        font-size: 18px;
    }
    .modal-content-box h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .modal-content-box{
        width: 700px;
        height: 400px;
        border-width: 30px;
    }
}

@media (max-width: 725px){
    .modal-content-box{
        width: 80%;
        height: 75vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 3%;
    }
    .card-back{
        background-image: url('../../assets/cardback-rightsideup.jpg');
    }
    .image-link-cont{
        height: auto;
        width: 100%;
    }
    .modal-content-box p{
        width: 80%;
        max-height: 60%;
    }
}
@media (max-width: 615px){
    .modal-content-box{
        height: 65vh;
    }
}
@media (max-width: 615px) {
    .modal-content-box{
        height: 55vh;
    }
    .image-link-cont a{
        font-size: 18px;
    }
    .modal-content-box p{
        font-size: 16px;
        overflow-x: hidden;
        max-height: 40%;
    }
    .image-link-cont{
        max-height: 20%;
    }
}

@media (max-height: 900px) and (max-width:725px){
    .modal-content-box h2{
        margin-bottom: 0px;
    }
    .image-link-cont img{
        display: none;
    }
}

@media (max-height: 836px) and (max-width:725px){
    .image-link-cont a{
        font-size: 14px;
    }
    .modal-content-box p{
        font-size: 14px;
    }
}

@media (max-height: 870px){
    .modal-content-box{
        height: 65vh;
    }
}
