@font-face {
    font-family: 'cowboy';
    src: url('../../public/Carnevalee\ Freakshow.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@600&display=swap');

body{
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/matteblack.jpg);
    margin: 0;
    margin-top: 60vh;
    overflow-x: hidden;
}

.d-none{
    display: none;
}

header {
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: black;
    height: 50vh;
    margin-bottom: 50vh;
    z-index: 2;
    overflow: hidden;
    border-bottom: solid red 2px;
}

header h2{
    justify-self: flex-end;
    flex-grow: 1;
    letter-spacing: 3px;
    margin: 4rem 0 0 0;
    font-size: 5rem;
    font-family: 'cowboy';
    color: white;
    text-shadow: 3px 2px 2px #E00000;
    z-index: 4;
    text-align: center;
    cursor: default;
}

header ul{
    margin: 0;
    padding: 0;
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 4px solid white;
    margin-bottom: 4%;
    z-index: 4;
}

header ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    height: 35px;
    width: 20%;
    border-radius: 14px;
    border: 2px solid white;
    font-family:'Oxanium', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ffffff;
    background-color: red;
    padding: 4px 0px 4px 0px;
    color: white;
}

header ul li:hover{
    cursor: pointer;
    animation-name: hover;
    animation-timing-function: ease-in-out;
    animation-duration: .5s; 
}

@keyframes hover {
    0%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1.25) rotate(-5deg);
        box-shadow: 0px 0px 10px 5px #ffffff;
        letter-spacing: 4px;
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}

header ul li a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.selected-page-button{
    box-shadow: 0px 0px 5px 3px rgba(255,255,255,0.75);
    background-color:rgb(125, 3, 3);
}

.background-video{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.sticky-header{
    display: flex;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    height: 10rem;
    margin-bottom: 4rem;
    background-color: black;
    color: white;
    z-index: 2;
}

.sticky-header .TPZ{
    margin: 0;
    margin-left: 50px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
    font-family: 'cowboy';
    font-size: 6rem;
    align-self: center;
}

.sticky-header ul {
    display: flex;
    justify-content: end;
    flex-grow: 1;
    margin-right: 50px;
}

.sticky-header ul li {
    list-style: none;
    margin: auto 20px auto 20px;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.sticky-header ul li a{
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family:'Oxanium', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: end
}

.not-selected-page-button-sb a::after,
.selected-page-button-sb a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.not-selected-page-button-sb a::after{
    transform: scaleX(0);
}

.selected-page-button-sb a::after{
    transform: scaleX(1);
}

.sticky-header ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-dropdown{
    position: relative;
    margin-right: 40px;
    margin-bottom: 5px;
    flex-direction: column;
    width: 30px;
    height: auto;
    justify-content: center;
    display: none;
}

.nav-dropdown div{
    box-sizing: border-box;
    width: 100%;
    max-height: 4px;
    margin-top: 7px;
    background-color: white;
    border-radius: 3px;
}

.closed-nav {
    transition: ease-in-out transform .05s, background-color .05s, position .05s;
}

.open-nav:nth-child(1){
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .05s;
}
.open-nav:nth-child(2){
    position: absolute;
    bottom: 76px;
    transform: rotate(45deg);
    transition: transform .05s, position .05s;
}
.open-nav:nth-child(3){
    position: absolute;
    bottom: 76px;
    transform: rotate(-45deg);
    transition: transform .05s, position .05s;
}

.nav-dropdown:hover{
    cursor: pointer;
}

.dropdown-menu{
    flex-direction: column;
    position: fixed;
    top: 10rem;
    margin: 0 5% 0 35%;
    padding:0;
    width: 60%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    display:none;
}

.dropdown-menu::after {
    box-shadow: inset 3px 3px 10px 0 #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    z-index: 3;
  }

.dropdown-menu li{
    list-style: none;
    flex-grow: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.unselected-menu-item,
.selected-menu-item{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family:'Oxanium', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 2;
}

.unselected-menu-item{
    color: black;
}

.selected-menu-item{
    background-color:rgb(125, 3, 3);
    color: white;
}

.parallax{
    height: 35vh;
    border-top: solid rgb(255, 255, 255) 5px;
    border-radius: 300px 300px / 100px 100px 0 0;
    min-width: 100%;
    background-image: url("https://wallpaperaccess.com/full/338765.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: default;
}

.parallax h3 {
    color: white;
}

.parallax-opacity-layer{
    display: flex;
    box-sizing: border-box;
    border-radius: 300px 300px 0 0 / 100px 100px 0 0;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    height: 100%;
    width: 100%;
    background-color:#00000082;
    overflow: hidden;
}

.parallax-opacity-layer * {
    margin: 0;
}

.quote-explain {
    display: none;
    position: absolute;
    padding: 40px;
    height: auto;
    width: 400px;
    background-color :white;
    font-family:'Oxanium', Tahoma, Geneva, Verdana, sans-serif;
    border: solid black 5px;
    font-size: 16px;
    font-weight: bolder;
    z-index: 200;
    border-radius: 50px;
}

.quote-explain span{
    color: lightseagreen;
    text-decoration: underline;
    font-size: 16px;
}
.thunk{
    display: inline;
    color: red;
    font-weight: 2000px;
    font-size: 16px;
}

.verse-cont {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.parallax-opacity-layer h2 {
    flex-grow: 1;
    box-sizing: border-box;
    margin: 10px auto 10px auto;
    height: 30%;
    width: 50%;
    padding: 0.5% 2% 0.5% 2%;
    align-self: center;
    border-radius: 200px;
    box-shadow: 1px 1px 25px 5px rgb(159, 159, 159);
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Imbue';
    font-size: 50px;
    background: #FFFFFF;
    background: radial-gradient(at center,#a5a5a5,#f7f7f7);
}

.verse-cont h3,
.verse-cont p {
    margin: auto 0 auto 0;
    font-weight: lighter;
    font-family: 'Oxanium';
    color: white;
}
.parallax-opacity-layer h3{
    margin: auto 0 auto auto;
    flex-grow: 1;
    text-align: center;
    word-wrap: normal;
    text-decoration: underline;
    font-size: 30px
}

.parallax-opacity-layer p{
    width: 80%;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 24px;
}

footer {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0px;
    height: 30vh;
    width: 100%;
    background-color: black;
    z-index: 0;
}

footer .elephant{
    margin-left: 5vw;
    height: 80%;
}

.footer-divider{
    margin-left: 5vw;
    background-color: rgb(23, 23, 23);
    width:2px;
    height: 80%;
    border-radius: 60px / 100px;
}

footer .img-cont {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

footer .img-cont div{
    margin: auto;
    width: 125px;
    height:100%;
    display: flex;
    flex-direction: column;
}

footer .img-cont div a{
    margin: auto auto 5px auto;
}

footer .img-cont  div img {
    margin: auto auto 5px auto;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

footer .img-cont p{
    margin-bottom: auto;
    text-align: center;
    color: white;
    width: auto;
    font-size: 1.4rem;
    cursor: default;
    font-family:'Oxanium', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 1700px){
    .verse-cont h3{
        font-size: 35px;
    }
    .verse-cont p{
        font-size: 30px
    }
}

@media (max-width: 1300px){
    .background-video{
        height: 300%;
        top: -45vh;
    }
}

@media (max-width: 1212px){
    .parallax-opacity-layer h2{
        font-size: 35px;
    }
}

@media (max-width: 1005px){
    header {
        margin-bottom: 20px;
    }
    header ul {
        height: auto;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    header ul li{
        margin-bottom: 10px;
        min-width: 40%;
    }
    .background-video{
        height: 250%;
        top: -35vh;
    }
    .parallax-opacity-layer h2{
        font-size: 30px;
    }
    .verse-cont h3{
        font-size: 24px;
    }
    .verse-cont p{
        font-size: 20px
    }
}

@media(max-width: 871px){
    footer .img-cont div p{
        margin-top: 0;
    }
    footer .img-cont div img,footer .img-cont div a{
        margin: auto auto 10px auto;
        height: 80px;
        width: 80px;
    }
    footer .elephant{
        display: none;
    }

    .footer-divider{
        display: none;
    }
    .sticky-buttons{
        display: none !important;
    }
    .nav-dropdown{
        display: flex;
    }
    .dropdown-menu{
        display: flex;
    }

    footer .img-cont{
        height: 100px;
    }
}

@media (max-width: 850px){
    .background-video{
        height: 250%;
        top: -40vh;
    }
    .quote-explain {
        width: 200px;
    }
}

@media (max-width: 720px){

    .verse-cont{
        flex-direction: column;
        align-items: center;
    }
    .parallax-opacity-layer h2{
        width: 75%;
        padding: 4%;
    }
    .verse-cont h3, .verse-cont p{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .verse-cont h3{
        flex-grow: 1;
        align-items: center;
    }
    .verse-cont p{
        flex-grow:2;
    }
}

@media (max-width: 600px){
    header h2{
        font-size: 4rem;
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    footer .img-cont div p{
        font-size: 18px;
    }
}

@media (max-width: 400px){
    .quote-explain {
        font-size: 12px;
        width: 100px;
    }
    .quote-explain div, .quote-explain span{
        word-wrap: break-word;
        font-size: 12px;
    }
    .parallax-opacity-layer h2{
        font-size: 22px;
    }

    footer{
        height: 40%;
    }
    footer .img-cont{
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    footer .img-cont div a img,  footer .img-cont div a, footer .img-cont div{
        margin: auto auto auto auto;
        width: 75px;
        height: 75px;
    }

    footer .img-cont div{
        width: 100%;
        flex-direction: row;
    }

    footer .img-cont div p{
        margin: 0 10px 0 0;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        text-align: center;
    }

    header ul li a{
        font-size: 1.2rem;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}
